*{
    padding: 0;
    margin: 0;
}

/* background  */

#imgContainer{
    height: 100vh;
    width: 100vw;
    background: url(https://cdn.pixabay.com/photo/2022/06/12/18/32/lovers-7258617_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: relative;
    z-index: 10;
}

#mainBtn{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    z-index: 20;
    cursor: pointer;
}

/* navbar */

ul{
    list-style: none;
    width: 100vw;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
